<div id='alert_modal' class="modal fade category-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title text-center">警告</h4>
		</div>
    <div class="modal-body text-center">
      <span>それはYouTubeのURLではないので、YouTubeのURLを挿入してください</span>
    </div>
		<div class="modal-footer">
			<a class="btn btn-cancel btn-submit-filter btn-smalll" data-dismiss="modal">
        キャンセル
      </a>
		</div>
	</div>
	</div>
</div>
