<div class="m_editor-action">
  <div class="col-sm-6 col-xs-6 m_editor-action-button">
    <button type="button" class="btn btn-primary btn-blue-2 mrg5B"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> 編集</button><br>
    <button type="button" class="btn btn-default btn-blue-2"><i class="fa fa-trash-o" aria-hidden="true"></i> 削除</button>
  </div>
  <div class="col-sm-6 col-xs-6 m_editor-rank-button">
    <div class="">
      <button type="button" class="m_editor-position-button up"><i class="fa fa-play" aria-hidden="true"></i></button>
      <button type="button" class="m_editor-position-button top"><i class="fa fa-fast-forward" aria-hidden="true"></i></button>
    </div>
    <div class="">
      <button type="button" class="m_editor-position-button down"><i class="fa fa-play" aria-hidden="true"></i></button>
      <button type="button" class="m_editor-position-button bottom"><i class="fa fa-fast-forward" aria-hidden="true"></i></button>
    </div>
  </div>
</div>
