// Place all the styles related to the LinkCards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#m_content {
  width: 100%;
}

.ui-sortable-helper {
    display: table;
    width: 100%;
}
