<!-- <p>Hello <%= @resource.email %>!</p>
 -->
<p>パスワードの再設定を行います。.</p>
<p>３０分以内に以下のURLをクリックしてパスワードを再設定してください。</p>
<p><%= link_to edit_password_url(@resource, reset_password_token: @token), edit_password_url(@resource, reset_password_token: @token) %></p>

<p>間違ってパスワード再設定を行った場合には、このメッセージを無視してください。</p>
